@model ExamProject.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2 class="details">Information for User: @Model.UserName</h2>
    <div class="col-sm-4">
        <div>Full Name: @Model.FullName</div>
        <div>Email: @Model.Email </div>
        <div>Birth Date: @Model.Birthday</div>
        <div>Gender: @Model.Gender</div>
        <div>Phone Number: @Model.PhoneNumber</div>
        <div>Number of Posts: @Model.Advertisements.Count</div>
        @if (this.User.IsInRole("Admin") || this.User.Identity.Name == Model.Email)
        {
            @Html.ActionLink("Edit", "Edit", "Account", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
            if (this.User.IsInRole("Admin") && this.User.Identity.Name != Model.Email)
            {
            @Html.ActionLink("Delete", "Delete", "Account", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
        }
        @Html.ActionLink("Home", "Index", "Advertisement", null, new { @class = "btn btn-default btn-xs" })
        <hr />
        <h3 class="paddedheader">Reviews for User: </h3>
        @foreach(var comment in Model.ProfileComments)
        {
            <div>
               @comment.Content
            </div>
            <div class="small">
                Written by: @comment.Author.FullName
            </div>
            <div class="small">
               На:  @comment.CreatedOn
            </div>
            if (User.IsInRole("Admin") || @comment.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Comment", new { @id = comment.Id }, new { @class = "btn btn-success btn-xs"  }) 
                <span> </span>
                @Html.ActionLink("Delete", "Delete", "Comment", new { @id = comment.Id }, new { @class = "btn btn-danger btn-xs" })
            }
            <hr />
            
        }
        @if(Model.ProfileComments.Count == 0)
        {
            <div>
                User has no profile reviews.
            </div>
            <hr />
        }
        @if (Request.IsAuthenticated && this.User.Identity.Name != Model.Email)
        {
            <div>Add review:</div>
        using (Html.BeginForm("Create", "Comment", new { @authorName = this.User.Identity.Name, @targetName = Model.Email }, FormMethod.Post))
        {
            <div>
                @Html.TextArea("Content", new { @class = "form-control", @rows = "7", @columns = "10" })
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
        }
        </div>
    </div>
    

