@model ExamProject.Models.AdvertisementViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="well">
    <h2 class="paddedheader">Create Advertisement</h2>
    @using (Html.BeginForm("Create", "Advertisement", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "7" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Price, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control col-sm-4" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ImageUpload, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">   
                @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Index", "Advertisement", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>