@model ExamProject.Models.Advertisement

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header class="col-sm-offset-2">
            <h1>
                @Model.Title
            </h1>
        </header>
        
        <div>
            @if (Model.ImageUrl != null)
            {
                <div class="col-sm-2">
                    <img src="@Url.Content(Model.ImageUrl)" alt="Image" class="add-image" />
                    <div>
                        @if (!Model.IsSold && ((User.IsInRole("Admin") || Model.IsSeller(User.Identity.Name))))
                        {
                            @Html.ActionLink("МАРКИРАЙ ПРОДАДЕНА", "MarkAsSold", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                        }
                    </div>
                </div>
            }
            @if (Model.ImageUrl == null)
            {
                <div class="col-sm-2">
                    <img src="/uploads/default/no-image-icon-23.jpg" alt="Image" class="add-image" />
                    <div>
                        @if (!Model.IsSold && ((User.IsInRole("Admin") || Model.IsSeller(User.Identity.Name))))
                         {
                            @Html.ActionLink("МАРКИРАЙ ПРОДАДЕНА", "MarkAsSold", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                        }
                    </div>
                </div>
            }
            <div class="col-sm-10">
                <div class="breaking">
                    Описание на продукта: @Model.Description
                </div>

                <div>
                    Цена: @Model.Price лв.
                </div>

                <div>
                    Продавач: @Model.Seller.FullName
                </div>

                <div>
                    Дата на създаване на обявата: @Model.CreationDate.ToString("MM/dd/yyyy")
                </div>
                
                

                @if (Model.IsSold == false)
                {
                    <div>
                        Състояние на обявата: отворена
                    </div>
                }
                @if (Model.IsSold == true)
                {
                    <div>
                        Състояние на обявата: затворена
                    </div>
                }


                <div>
                    Телефон за връзка: @Model.Seller.PhoneNumber
                </div>
                <div>
                    E-mail за връзка: @Model.Seller.Email
                </div>
                <div>
                    @Html.ActionLink("Профил на продавача", "Details", "Account", new { @name = Model.Seller.Email }, null)
                </div>
                <footer class="pull-right">
                    @if (User.IsInRole("Admin") || Model.IsSeller(User.Identity.Name))
                    {
                        @Html.ActionLink("Edit", "Edit", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Delete", "Delete", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                    }
                    @Html.ActionLink("Back", "Index", "Advertisement", null, new { @class = "btn btn-default btn-xs" })
                </footer>
            </div>

        </div>

        
    </article>
</div>
