@model ExamProject.Models.Advertisement

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header class="col-sm-offset-2">
            <h1>
                @Model.Title
            </h1>
        </header>
        
        <div>
            @if (Model.ImageUrl != null)
            {
                <div class="col-sm-2">
                    <img src="@Url.Content(Model.ImageUrl)" alt="Image" class="add-image" />
                    <div style="text-align:center">
                        @if (!Model.IsSold && ((User.IsInRole("Admin") || Model.IsSeller(User.Identity.Name))))
                        {
                            @Html.ActionLink("MARK AS SOLD", "MarkAsSold", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                        }
                    </div>
                </div>
            }
            @if (Model.ImageUrl == null)
            {
                <div class="col-sm-2">
                    <img src="/uploads/default/no-image-icon-23.jpg" alt="Image" class="add-image" />
                    <div style="text-align:center">
                        @if (!Model.IsSold && ((User.IsInRole("Admin") || Model.IsSeller(User.Identity.Name))))
                         {
                            @Html.ActionLink("MARK AS SOLD", "MarkAsSold", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                        }
                    </div>
                </div>
            }
            <div class="col-sm-10">
                <div class="breaking">
                    Product Description: @Model.Description
                </div>

                <div>
                    Price: @String.Format("{0:F2}", Model.Price) lv.
                </div>

                <div>
                    Seller: @Model.Seller.FullName
                </div>

                <div>
                    Date Created On: @Model.CreationDate.ToString("MM/dd/yyyy")
                </div>
                
                

                @if (Model.IsSold == false)
                {
                    <div>
                        Product status: available
                    </div>
                }
                @if (Model.IsSold == true)
                {
                    <div>
                        Product status: not available
                    </div>
                }


                <div>
                    Contact Number: @Model.Seller.PhoneNumber
                </div>
                <div>
                    Contact E-mail: @Model.Seller.Email
                </div>
                <div>
                    Category: @Model.Category.Name
                </div>
                <div>
                    @Html.ActionLink("User profile", "Details", "Account", new { @name = Model.Seller.Email }, null)
                </div>
                <footer class="pull-right">
                    @if (User.IsInRole("Admin") || Model.IsSeller(User.Identity.Name))
                    {
                        @Html.ActionLink("Edit", "Edit", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Delete", "Delete", "Advertisement", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                    }
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default btn-xs" })
                </footer>
            </div>

        </div>

        
    </article>
</div>
