@model List<ExamProject.Models.Advertisement>

@{
    ViewBag.Title = "Search";
}


@using (Html.BeginForm("Search", "Home", new { @class = "search-bar" }, FormMethod.Get))
{
    <div class="search-bar">
        @Html.TextBox("searchString", null, new { @class = "form-control col-sm-4" })
        <div>
            @Html.DropDownList("categoryName",
                        new SelectList(ViewBag.categories),
                        new { @class = "btn btn-info col-sm-12" })
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
<div class="container">
    <div class="row">
        @if (ViewBag.searchString != "")
        {
            <h2>Results from search for: @ViewBag.searchString</h2>
        }
        <h3>Category: @ViewBag.categoryName</h3>
        <h1>Active offers:</h1>
        @foreach (var advertisement in Model)
        {
            if (advertisement.IsSold == false)
            {
                <div>
                    <article class="container">
                        <header>
                            <img src="@Url.Content(@advertisement.ImageUrl)" alt="Image" class="col-sm-4 frontpage-image" />
                            <h2>
                                @Html.ActionLink(@advertisement.Title, "Details", "Advertisement", new { @id = advertisement.Id }, null)
                            </h2>
                        </header>
                        <p>
                            Description: @advertisement.GetSummary()
                        </p>
                        <p>
                            @Html.ActionLink("Read More", "Details", "Advertisement", new { @id = advertisement.Id }, new { @class = "btn-xs btn-default" })
                        </p>
                        <footer>
                            <small class="author">
                                Seller: @Html.ActionLink(@advertisement.Seller.FullName, "Details", "Account", new { @name = advertisement.Seller.Email }, null),
                                Category: @advertisement.Category.Name
                                
                            </small>
                        </footer>
                    </article>
                </div>
                <hr />
            }

        }
        @if(Model.Where(a => a.IsSold == false).ToList().Count == 0)
        {
            <div class="text-muted">
                No results found.
            </div>
            <hr />
        }
        <h1>Closed offers:</h1>
        @foreach (var advertisement in Model)
        {
            if (advertisement.IsSold == true)
            {
                <div>
                    <article class="container">
                        <header>
                            <img src="@Url.Content(@advertisement.ImageUrl)" alt="Image" class="col-sm-4 frontpage-image" />
                            <h2>
                                @Html.ActionLink(@advertisement.Title, "Details", "Advertisement", new { @id = advertisement.Id }, null)
                            </h2>
                        </header>
                        <p>
                            Description: @advertisement.GetSummary()
                        </p>
                        <p>
                            @Html.ActionLink("Read More", "Details", "Advertisement", new { @id = advertisement.Id }, new { @class = "btn-xs btn-default" })
                        </p>
                        <footer>
                            <small class="author">
                                Seller: @Html.ActionLink(@advertisement.Seller.FullName, "Details", "Account", new { @name = advertisement.Seller.Email }, null),
                                Category: @advertisement.Category.Name
                                
                            </small>
                        </footer>
                    </article>
                </div>
                <hr />
            }
        }
        @if (Model.Where(a => a.IsSold == true).ToList().Count == 0)
        {
            <div class="text-muted">
                No results found.
            </div>
            <hr />
        }
    </div>
</div>